


<div class="padding">
  <div class="row">
    <div class="container d-flex justify-content-center">
      <div class="col-md-6 col-sm-8">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-md-6">
                <span>Banka Kartı Ödeme İşlemi</span>   
              </div>
              <div class="col-md-6 text-right" style="margin-top: -5px;">   
                <img src="https://img.icons8.com/color/36/000000/visa.png">
                <img src="https://img.icons8.com/color/36/000000/mastercard.png">
                <img src="https://img.icons8.com/color/36/000000/amex.png">
              </div>
            </div>

          </div>
          <div class="card-body" style="height: 350px;">
            <div class="form-group">
              <label for="cc-number" class="control-label">Kart Numarası:</label><br>
              <input type="tel" id="cc-number" class="input-lg form control cc-number" autocomplete="cc-number" placeholder="**** **** **** **** **** "  name="">
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="cc-exp" class="control-label">Kartın Son Kullanma Tarihi:</label>
                  <input type="tel" id="cc-exp" class="input-lg form control cc-exp" autocomplete="cc-exp" placeholder="**/**" name="">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="cc-cvc" class="control-label">CVC:</label>
                  <input type="tel" id="cc-cvc" class="input-lg form control cc-cvc" autocomplete="off" placeholder="****" name=""><br>
                </div>
              </div>
              <div class="form-group">
                <label for="numeric" class="control-label"> Kart Üstündeki İsim ve Soyisim:</label>
                <input type="text" class="input-lg form-control" placeholder="İsim-Soyisim"><br>
              </div>

              <div class="form-group">
                <button (click)="pay()" class="btn btn-success"><strong>{{amountOfPayment |currency:"₺"}} </strong>Ödeme Yap</button>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

